{% extends 'base.html.twig' %}

{% block title %}
Eventos | Início 
{% endblock %}
{% block breadcrumbTitulo %}
Eventos disponíveis
{% endblock %}
{% block breadcrumb %}
<li>Eventos</li>
{% endblock %}
{% block body %}

<div class="content">
    <div class="animated fadeIn">
        <div class="row text-center">
            {% if not eventos %}
            <div class="alert alert-primary align-content-center" role="alert">
                Nenhum evento disponível 
            </div>
            {% endif %}

            {% for evento in eventos %}


            <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('uploads/eventos/') }}{{ evento.imagens[0].imagem}}" >
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <h5 class="text-sm-center mt-2 mb-1">{{evento.nome}}</h5>

                                </div>
                                <hr>
                                <div class="card-text text-sm-center">
                                    <div class="location text-sm-center"><i class="fa fa-map-marker"></i> {{evento.local.nome}} em {{evento.local.cidade.nome}}-{{evento.local.cidade.estado.sigla}}</div>
                                    <div class="location text-sm-center"><i class="fa fa-calendar"></i> {{evento.data|date("d/m/Y H:i")}}</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <strong class="card-title mb-3"><a href="/ver/{{evento.id}}">Ver mais</a></strong>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
