<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registro de Usuário</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{{ asset('images/favicon.png') }}">
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}"> 

    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/pe-icon-7-filled.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-select.less') }}"> -->
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.js') }}delivr.net/html5shiv/3.7.3/html5shiv.min.js') }}"></script> -->

</head>
<body class="bg-dark">


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="{{ asset('assets/images/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="login-form">
                    {{ form_start(form)}}
                    {{ form_errors(form, {'attr':{'class':'alert alert-danger'}}) }}

                        <div class="form-group">
                            {{ form_label(form.nome) }}
                            {{ form_errors(form.nome, {'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.nome, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email, {'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.first) }}
                            {{ form_errors(form.password.first, {'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.password.first, {'attr':{'class':'form-control'}}) }}
                            {{ form_label(form.password.second) }}
                            {{ form_errors(form.password.second, {'attr':{'class':'alert alert-danger'}}) }}
                            {{ form_widget(form.password.second, {'attr':{'class':'form-control'}}) }}
                        </div>
                            {{ form_widget(form.salvar, {'attr':{'class':'btn btn-primary btn-flat m-b-30 m-t-30'}}) }}
                        <div class="register-link m-t-15 text-center">
                            <p>Já é cadastrado? <a href="/login"> fazer login</a></p>
                        </div>
                   {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


    <script src="{{ asset('assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>


</body>
</html>
